[run]
source = meter_readings,config
omit =
    */migrations/*
    */tests/*
    */venv/*
    */env/*
    */.venv/*
    manage.py
    config/wsgi.py
    config/settings.py

[report]
precision = 2
show_missing = True

[html]
directory = coverage_html_report