# Core Framework
Django>=6.0,<7.0

# Timezone Support
pytz>=2024.1

# Database
psycopg2-binary>=2.9.0


# Environment Configuration
python-dotenv>=1.0.0

# REST API
djangorestframework>=3.14.0
django-filter>=23.5
drf-spectacular>=0.27.0
django-cors-headers>=4.3.1

# Development Tools
coverage>=7.0.0
black>=23.0.0
flake8>=7.0.0
isort>=5.0.0
